<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mask Selection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/mask_selection.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Mask Selection</h1>
        <div class="row">
            <div class="col-lg-3">
                <div>
                    <button id="done-button" class="btn btn-primary mx-2" onclick="mask_selection_done()">Done</button>
                </div>
                <div class="buttons d-flex flex-row align-items-center justify-content-center">
                    <button id="prev-button" class="btn btn-secondary mx-2" onclick="prevPage()">Previous</button>
                    <button id="next-button" class="btn btn-secondary mx-2" onclick="nextPage()">Next</button>
                    <button id="reset-button" class="btn btn-secondary mx-2" onclick="resetMask()">Reset</button>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="canvas-container text-center mb-4">
                    <img id="pdf-page" src="/page/{{ page_num }}" alt="PDF Page" class="img-fluid" data-page-num="{{ page_num }}" data-total-pages="{{ total_pages }}">
                    <canvas id="drawing-canvas" class="border"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script>
        let currentPage = {{ page_num }};
        const totalPages = {{ total_pages }};
        const canvas = document.getElementById('drawing-canvas');
        const ctx = canvas.getContext('2d');
        const img = document.getElementById('pdf-page');
        let drawing = false;
        let points = [];
        let polygon = [];

        function resizeCanvas() {
            canvas.width = img.clientWidth;
            canvas.height = img.clientHeight;
        }

        window.onload = resizeCanvas;
        window.onresize = resizeCanvas;

        canvas.addEventListener('mousedown', () => {
            drawing = true;
            points = []; // Reset points array
        });

        canvas.addEventListener('mouseup', () => {
            drawing = false;
            if (points.length > 1) {
                polygon.push(points.slice()); // Save the drawn polygon
                fillPoly(ctx, points, 'blue'); // Call fillPoly with the points
            }
        });

        canvas.addEventListener('mousemove', draw);

        function draw(event) {
            if (!drawing) return;

            const rect = canvas.getBoundingClientRect();
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;
            points.push([x, y]); // Store the coordinates

            ctx.lineWidth = 2;
            ctx.lineCap = 'round';
            ctx.strokeStyle = 'red';

            ctx.lineTo(x, y);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(x, y);
        }

        function fillPoly(ctx, points, color) {
            if (points.length < 2) return;

            ctx.beginPath();
            ctx.moveTo(points[0][0], points[0][1]);

            for (let i = 1; i < points.length; i++) {
                ctx.lineTo(points[i][0], points[i][1]);
            }

            ctx.closePath();
            ctx.lineTo(points[0][0], points[0][1]);
            ctx.stroke();
            ctx.beginPath();
            savePolygon();
            polygon = [];
        }

        function savePolygon() {
            const canvasWidth = canvas.width;
            const canvasHeight = canvas.height;
            fetch('/save_polygon', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    polygon: polygon,
                    canvasWidth: canvasWidth,
                    canvasHeight: canvasHeight
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .then(() => {
                refreshPage();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function prevPage() {
            if (currentPage > 0) {
                currentPage--;
                document.getElementById('pdf-page').src = '/page/' + currentPage;
                ctx.clearRect(0, 0, canvas.width, canvas.height);
            }
        }

        function resetMask() {
        fetch('/reset_mask', {
            method: 'POST'
        })
        .then(() => {
            refreshPage();
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

        function refreshPage() {
            document.getElementById('pdf-page').src = '/page/' + currentPage;
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        function nextPage() {
            if (currentPage < totalPages - 1) {
                currentPage++;
                document.getElementById('pdf-page').src = '/page/' + currentPage;
                ctx.clearRect(0, 0, canvas.width, canvas.height);
            }
        }

        function mask_selection_done() {
            window.location.href = '/mask_thresholding';
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/mask_selection.js"></script>
</body>
</html>